.ios, .md {

    home-page {

        ion-title {
            margin-left: 10%;
        }

        ion-content {
            background-color: #ADD8E6;
        }

      .scroll-content {
        height: 92%;
      }

      #map {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-top: 2%;
      }

      button {
         margin-right: 60%;
         border-radius: 2%;
      }

    }

}
